<div>
  <div style="display: inline-block; width: 49%;">
    <gaz-menu-item *ngFor="let item of difficultyLevels" label="{{item}}" (onClick)="changeDifficulty()"></gaz-menu-item>
  </div>
  <div style="display: inline-block; width: 49%;">
    <h1>
      Beginning the Game
    </h1>
    <p>
      If you're a first-time player, we highly recommend playing the Tutorial Game. In the Tutorial, we introduce new features each turn
      until you're playing the complete game. Remember, your goal is to become the richest business owner in the galaxy!
    </p>
    <p>
      Keep in mind that Gazillionaire is a turn-based game, meaning each player takes a turn. Once everyone has taken a turn, the game advances to next week.
    </p>
  </div>
</div>

<div>
  <div style="display: inline-block; width: 49%;">
    <gaz-menu-item *ngFor="let item of players" label="{{item}} Player{{item === 'One' ? '' : 's'}}" (onClick)="changeNumberOfPlayers()"></gaz-menu-item>
  </div>
  <div style="display: inline-block; width: 49%;">
    <h1>
      How Many Players?
    </h1>
    <p>
      Please select how many players (human only) will be playing the game?
    </p>
    <p>
      In addition to the human players, six computer companies will also compete in each game.
    </p>
  </div>
</div>

<div>
  <ul>
    <li *ngFor="let planet of selectedPlanets" (click)="showPlanetModal(planet)">{{planet.name}}</li>
  </ul>
  <button (click)="setPlanets()">Continue</button>
  <button (click)="setRandomPlanets()">Randomize Planets</button>

  <div *ngIf="planetToReplace">
    <h2>Click on a planet to replace {{planetToReplace.name}}</h2>
    <ul>
      <li>{{planetToReplace.name}}</li>
      <li *ngFor="let planet of unselectedPlanets" (click)="replacePlanet(planet)">{{planet.name}}</li>
    </ul>
  </div>
</div>

<div>
  <ul>
    <li *ngFor="let company of companies">
      <p>{{company.name}}</p>
      <p>{{company.personality}}</p>
    </li>
  </ul>
  <button (click)="selectShip()">Continue</button>
</div>

<div>

  <div *ngIf="!player.companyName">
    <h2>Player 1</h2>
    <p>Please name your company: </p>
    <input type="text" [(ngModel)]="companyName" />
    <button (click)="setCompanyName()">OK</button>
  </div>

  <ul>
    <li *ngFor="let ship of ships" (click)="showShipDetails(ship)">{{ship.shipName}}</li>
  </ul>
</div>

<div>
  {{player.ship}}
  <p>{{player.ship.summary}}</p>
  <p>Do you wish to purchase this ship?</p>
  <button (click)="nextStep()">Yes</button>
  <button (click)="state = states.ShipMenu">No</button>
</div>