button {
  display: block;
  padding: 20px 60px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button.blue {
  background-color: #289ee5;  
}

button.blue:hover:enabled {
  background-color: #0b6ed1;
}

button.gold {
  background-color: #e59c26;
}

button.gold:hover:enabled {
  background-color: #d0700b;
}

button.grey {
  background-color: #82828f;
}

button.grey:hover:enabled {
  background-color: #5a5c6a;
}