button {
  display: block;
  padding: 20px 60px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}



button.blue {
  background-color: #289ee5;
  background-image: -webkit-linear-gradient(180deg, #289ee5 50%, #127dd3 50%);
  background-image: -moz-linear-gradient(180deg, #289ee5 50%, #127dd3 50%);
  background-image: -ms-linear-gradient(180deg, #289ee5 50%, #127dd3 50%);
  background-image: linear-gradient(180deg, #289ee5 50%, #127dd3 50%);
}

button.blue:hover:enabled {
  background-color: #0b6fd2;
  background-image: -webkit-linear-gradient(180deg, #0b6fd2 50%, #004eb7 50%);
  background-image: -moz-linear-gradient(180deg, #0b6fd2 50%, #004eb7 50%);
  background-image: -ms-linear-gradient(180deg, #0b6fd2 50%, #004eb7 50%);
  background-image: linear-gradient(180deg, #0b6fd2 50%, #004eb7 50%);
}

button.gold {
  background-color: #e59c26;
  background-image: -webkit-linear-gradient(180deg,#e59c26 50%, #d37e11 50%);
  background-image: -moz-linear-gradient(180deg, #e59c26 50%, #d37e11 50%);
  background-image: -ms-linear-gradient(180deg, #e59c26 50%, #d37e11 50%);
  background-image: linear-gradient(180deg, #e59c26 50%, #d37e11 50%);
}

button.gold:hover:enabled {
  background-color: #d1710b;
  background-image: -webkit-linear-gradient(180deg, #d1710b 50%, #b24e00 50%);
  background-image: -moz-linear-gradient(180deg, #d1710b 50%, #b24e00 50%);
  background-image: -ms-linear-gradient(180deg, #d1710b 50%, #b24e00 50%);
  background-image: linear-gradient(180deg, #d1710b 50%, #b24e00 50%);
}

button.grey {
  background-color: #82828f;
  background-image: -webkit-linear-gradient(180deg,#82828f 50%, #626271 50%);
  background-image: -moz-linear-gradient(180deg, #82828f 50%, #626271 50%);
  background-image: -ms-linear-gradient(180deg, #82828f 50%, #626271 50%);
  background-image: linear-gradient(180deg, #82828f 50%, #626271 50%);
}

button.grey:hover:enabled {
  background-color: #5a5c6a;
  background-image: -webkit-linear-gradient(180deg, #5a5c6a 50%, #3e3e4e 50%);
  background-image: -moz-linear-gradient(180deg, #5a5c6a 50%, #3e3e4e 50%);
  background-image: -ms-linear-gradient(180deg, #5a5c6a 50%, #3e3e4e 50%);
  background-image: linear-gradient(180deg, #5a5c6a 50%, #3e3e4e 50%);
}

button.green {
  background-image: -webkit-linear-gradient(180deg, #7bb129 50%, #5b8d11 50%);
  background-image: -moz-linear-gradient(180deg, #7bb129 50%, #5b8d11 50%);
  background-image: -ms-linear-gradient(180deg, #7bb129 50%, #5b8d11 50%);
  background-image: linear-gradient(180deg, #7bb129 50%, #5b8d11 50%);
}


button.green:hover:enabled {
  background-image: -webkit-linear-gradient(180deg, #49800b 50%, #2a5c00 50%);
  background-image: -moz-linear-gradient(180deg, #49800b 50%, #2a5c00 50%);
  background-image: -ms-linear-gradient(180deg, #49800b 50%, #2a5c00 50%);
  background-image: linear-gradient(180deg, #49800b 50%, #2a5c00 50%);
}
