h1, h2 {
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  line-height: 2em;
}

.col-md-3 {
  margin-top: 30px;
}

.shipContainer {
  background-color: #9494a1;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.shipContainer:hover {
  background-color: #666876;
}

.shipImage {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 10px;
}

.shipImageWrapper {
  background-color: #565670;
  border-radius: 10px;
  padding: 10px;
}

.shipDetails h1 {
  margin-bottom: 20px;
}

:host >>> button {
  width: 48% !important;
  display: inline-block !important;
  margin-left: 10px;
}

.shipBlurb {
  color: #fff;
  margin: 20px 0px;
}

.overlay {
  position: relative;
}

.overlay:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  display: none;
}

.overlay.visible:after {
  opacity: 1;
  display: inline;
}

.nameModal {
  background-color: #3d3d6f;
  padding: 40px 10px 10px 10px;
  border-radius: 10px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.nameModal .nameForm {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.nameForm input {
  margin-top: 40px;
}

.nameForm button {
  background-color: #3d3d6f;
  margin-top: 30px;
  color: #fff;
  border-radius: 10px;
  padding: 3px 30px;
  font-weight: bold;
  cursor: pointer;
}

.nameForm h3 {
  margin-top: 0px;
  font-weight: bold;
}
