<div class="wrapper" *ngIf="!selectedShip">
  <div class="overlay" [ngClass]="{ visible: !nameChosen }">
    <div class="row">
      <div class="col-md-12">
        <h1>{{companyName}}</h1>
        <h2>Click on the spaceship you wish to purchase:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"  *ngFor="let ship of ships">
        <div class="shipContainer">
          <img class="shipImage" (click)="showShipDetails(ship)" src="{{ship.slug | assetUri: 'ships'}}/large.png" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!nameChosen" class="nameModal">
    <div class="nameForm">
        <h3>Player {{company.player}}</h3>
        <p>Please name your company:</p>
        <input type="text" onClick="this.select();" [(ngModel)]="companyName" #ctrl="ngModel"  /><br />
        <button (click)="setName()">OK</button>
    </div>
  </div>
</div>

<div class="wrapper shipDetails" *ngIf="selectedShip">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>{{selectedShip.name}}</h1>
      <div class="shipImageWrapper">
        <img class="shipImage" src="{{selectedShip.slug | assetUri: 'ships'}}/large.png" />
      </div>
      <div class="shipBlurb">
        {{selectedShip.summary | contentFilter}}
        <p>Do you wish to purchase this ship?</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <gaz-menu-item  colour="grey" (onClick)="selectShip()" link="new/introduction" label="Yes" ></gaz-menu-item>
      <gaz-menu-item  colour="grey" (onClick)="unselectShip()" label="No" ></gaz-menu-item>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
