<div class="row">
  <div class="col-md-4 menu">
    <gaz-menu-item label="Start New Game" colour="blue" link="new"></gaz-menu-item>
    <gaz-menu-item label="Load Saved Game" colour="blue" (onClick)="changeMenuState(states.NewGame)"></gaz-menu-item>
    <gaz-menu-item label="Load Group Game" colour="blue" (onClick)="changeMenuState(states.NewGame)"></gaz-menu-item>
    <gaz-menu-item label="About {{title}}" colour="blue" (onClick)="changeMenuState(states.NewGame)"></gaz-menu-item>
    <gaz-menu-item label="About LavaMind" colour="blue" (onClick)="changeMenuState(states.NewGame)"></gaz-menu-item>
    <gaz-menu-item label="Sound On" colour="gold" (onClick)="toggleSound()"></gaz-menu-item>
    <gaz-menu-item label="Quit" colour="gold" (onClick)="toggleSound()"></gaz-menu-item>
  </div>
  <div class="col-md-8">
    <div class="blurb">
      <h1>
        {{heading}}
      </h1>
      <div [innerHTML]="blurb"></div>
    </div>
  </div>
</div>
