<div class="wrapper">
  <div class="row">
    <div class="col-md-6">
      <h1>{{company.name}}</h1>
      <img src="{{company.ship.slug}}" />
      <p>Status: {{status}}</p>
      <p>Bankrupt Companies: {{bankruptCompanies}}</p>
    </div>
    <div class="col-md-6">
      <h1>Week {{week}}</h1>
      <p>The companies are ranked according to their wealth. The first company to reach x kubars wins the game!</p>
      <ol>
        <li *ngFor="let company of rankings">{{company.name}} {{company.netWorth}}</li>
      </ol>
      <p>Game Difficulty Level: {{difficulty}}</p>
      <gaz-menu-item label="Begin Turn" colour="grey" link="game/planet-intro" ></gaz-menu-item>
    </div>
  </div>
</div>