<div class="row">
  <div class="col-md-12">
    <gaz-menu-item label="Stock Market"></gaz-menu-item>
    <gaz-menu-item label="Money: {{money}}"></gaz-menu-item>
    <gaz-menu-item label="Bank: {{bankAccount}}"></gaz-menu-item>
    <gaz-menu-item label="Loan: {{bankLoan}}"></gaz-menu-item>
    <gaz-menu-item label="{{lenderName}}: {{lenderLoan}}"></gaz-menu-item>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <gaz-menu-item label="Pick Up Passengers: {{passengers}}"></gaz-menu-item>
    <gaz-menu-item label="Advertise for Next Planet: {{money}}"></gaz-menu-item>
    <gaz-menu-item label="Crew Wages Owed: {{bankAccount}}"></gaz-menu-item>
    <gaz-menu-item label="Taxes Owed: {{bankLoan}}"></gaz-menu-item>
    <gaz-menu-item label="Insurance/Cost: "></gaz-menu-item>
    <gaz-menu-item label="Explore Planet: "></gaz-menu-item>
    <gaz-menu-item label="File Options: "></gaz-menu-item>
  </div>
</div>
